<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <form id="shippingForm" action="/" method="post">
    <label for="sourceLocation">Source Location:</label>
    <input type="text" name="sourceLocation" id="sourceLocation" placeholder="City, Province Code" required>

    <label for="sourceTemperature">Source Temperature:</label>
    <input type="text" name="sourceTemperature" id="sourceTemperature" placeholder="Source Temperature" required>

    <label for="sourceDuration">Source Duration (hours):</label>
    <input type="text" name="sourceDuration" id="sourceDuration" placeholder="Source Duration" required>

    <div id="stepsContainer"></div>

    <button type="button" onclick="addstep()">Add step</button>

    <input type="submit" value="Plan Route">
  </form>

  <script>
    let stepIndex = 1;

    function addstep() {
      const stepsContainer = document.getElementById('stepsContainer');
      const currentStepIndex = stepIndex;

      const stepDiv = document.createElement('div');
      stepDiv.classList.add('step-container');
      stepDiv.id = `step${currentStepIndex}`;

      stepDiv.innerHTML = `
        <label>
          <input type="checkbox" name="atCarrierDepot${currentStepIndex}" id="atCarrierDepot${currentStepIndex}" onchange="toggleTemperatureInput(${currentStepIndex})">
          At Carrier Depot
        </label>

        <label>
          <input type="checkbox"  name="inTransit${currentStepIndex}" id="inTransit${currentStepIndex}">
          In Transit
        </label>

        <label>
          <input type="checkbox" name="controllable${currentStepIndex}" onchange="toggleTemperatureInput(${currentStepIndex})" id="controllable${currentStepIndex}">
          Controllable Temperature
        </label>

        <label for="stepLocation${currentStepIndex}">Step ${currentStepIndex} Location:</label>
        <input type="text" name="stepLocation${currentStepIndex}" id="stepLocation${currentStepIndex}" placeholder="City, Province Code" required>

        <label for="stepDuration${currentStepIndex}">Step ${currentStepIndex} Duration (hours):</label>
        <input type="text" name="stepDuration${currentStepIndex}" id="stepDuration${currentStepIndex}" placeholder="Step Duration" required>

        <div id="temperatureBlock${currentStepIndex}" style="display: none;">
          <label for="stepTemperature${currentStepIndex}">Step ${currentStepIndex} Temperature:</label>
          <input type="text" name="stepTemperature${currentStepIndex}" id="stepTemperature${currentStepIndex}" placeholder="Step Temperature">
        </div>

        <div id="minmaxBlock${currentStepIndex}" style="display: none;">
          <label for="MinTemp${currentStepIndex}">Min ${currentStepIndex} Temperature:</label>
          <input type="text" name="MinTemp${currentStepIndex}" id="minTemp${currentStepIndex}" placeholder="Min Temperature (avg.)">
          <label for="MaxTemp${currentStepIndex}">Max ${currentStepIndex} Temperature:</label>
          <input type="text" name="MaxTemp${currentStepIndex}" id="maxTemp${currentStepIndex}" placeholder="Max Temperature (avg.)">
        </div>

        <button class="remove-step" onclick="removestep(${currentStepIndex})">Remove step</button>
      `;

      stepsContainer.appendChild(stepDiv);
      stepIndex++;
    }


    function toggleTemperatureInput(stepIndex) {
      const controllableCheckbox = document.getElementById(`controllable${stepIndex}`);
      const temperatureBlock = document.getElementById(`temperatureBlock${stepIndex}`);
      const temperatureInput = document.getElementById(`stepTemperature${stepIndex}`);
      const atCarrierDepotCheckbox = document.getElementById(`atCarrierDepot${stepIndex}`);
      const minmaxBlock = document.getElementById(`minmaxBlock${stepIndex}`);
      const inTransitCheckbox = document.getElementById(`inTransit${stepIndex}`);
      
      if (atCarrierDepotCheckbox.checked && !controllableCheckbox.checked) {
        minmaxBlock.style.display = 'block';
      } else {
        minmaxBlock.style.display = 'none';
      }

      if (controllableCheckbox.checked) {
        temperatureBlock.style.display = 'block';
        temperatureInput.setAttribute('required', 'required');
      } else {
        temperatureBlock.style.display = 'none';
        temperatureInput.removeAttribute('required');
      }
    }

    function removestep(stepIndex) {
      const stepsContainer = document.getElementById('stepsContainer');
      const stepToRemove = document.getElementById(`step${stepIndex}`);
      stepsContainer.removeChild(stepToRemove);

      stepIndex = Math.max(stepIndex - 1, 1);
    }
  </script>

</body>
</html>
